@import "tailwindcss";

@theme {
  --font-family-sans: 'DM Sans', ui-sans-serif, system-ui, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #CBD5E0;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A0AEC0;
}
